/* TranslateForm.css */

.translate-form {
  background-color: var(--background-color);
  padding: 16px;
  max-width: 800px; /* Set a maximum width */
  margin: 0 auto; /* Center align the form */
}

.input-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  text-align: center;
}

textarea {
  resize: none; /* Prevent user from resizing */
  padding: 8px;
  margin-right: 8px; /* Add margin to the right of the textarea */
  flex: 1; /* Allow the textarea to grow and take remaining space */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}
