:root {
    --primary-color: #2f27ce;
    --secondary-color: #dedcff;
    --accent-color: #433bff;
    --background-color: #ffffff;
    --primary-text-color: #fbfbfe;
    --secondary-text-color: #222222;
  }
  